.works-slider
  padding-bottom: 35px
  --swiper-scrollbar-bg-color: rgba(230, 232, 233, 0.1)
  --swiper-scrollbar-drag-bg-color: #DBCBA4
  --swiper-scrollbar-size: 4px
  --swiper-scrollbar-border-radius: 0
  --swiper-scrollbar-bottom: 0
  --swiper-scrollbar-sides-offset: 50px
  // --swiper-scrollbar-top: auto
  // --swiper-scrollbar-left: auto
  // --swiper-scrollbar-right: 4px

  &__item
    max-width: 357px
    width: 100%
    height: 635px

  &__img
    width: 100%
    height: 100%
    object-fit: cover
