.brands
  padding: 40px 0 52px

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 150px
    max-width: 1728px
    margin: 0 auto

  &__item
    display: flex
    align-items: center
    justify-content: center
    flex: 1 1 16.66%
    max-width: 16.66%
    color: rgba($white ,0.35 )

  .icon
    &--brand-1
      width: 119px
      height: 119px
    &--brand-2
      width: 170px
      height: 33px
    &--brand-3
      width: 157px
      height: 45px
    &--brand-4
      width: 173px
      height: 46px
    &--brand-5
      width: 169px
      height: 64px
    &--brand-6
      width: 195px
      height: 31px
