include ../layout/_mixins
doctype html
html(lang='ru')
  block head
    - var title = 'Салон красоты Премиум класса DAVIANI &amp; SPA в центре Москвы, метро Трубная';
  include ../layout/_head
  body
    |
    |
    .antialiased
      // Header
      .b-screen-overlay
      include ../layout/_header
      .smooth-wrapper
        .smooth-content
          // content
          block content
            // Sections
            main.main-page
              .b-global-bg
              include ./index/main
              include ./index/gallery
              include ./index/facilities
              include ./index/services
              include ./index/advantages
              include ./index/masters
              include ./index/works
              include ./index/brands
              include ./index/main-contacts

          |
          |
          include ../layout/_footer

    script(src='js/libs.min.js', defer)
    script(src='js/main.bundle.js', defer)
