include ../layout/_mixins
doctype html
html(lang='ru')
  block head
    - var title = 'Main | Broxus';
  include ../layout/_head
  body
    |
    |
    // Header
    include ../layout/_header

    // content
    block content
      // Sections
      main.main-page
        include ./index/main

    |
    |
    include ../layout/_footer
