include ../layout/_mixins
doctype html
html(lang='ru')
  block head
    - var title = 'Main | Daviani';
  include ../layout/_head
  body
    |
    |
    // Header
    .smooth-wrapper
      .smooth-content
        include ../layout/_header
          // content
        block content
          // Sections
          main.main-page
            .b-global-bg
            include ./index/main
            include ./index/gallery
            include ./index/facilities
            include ./index/services
            include ./index/advantages
            include ./index/masters
            include ./index/brands
            include ./index/main-contacts

        |
        |
        include ../layout/_footer
