.main-contacts
  padding: 3.125rem 0 6.3125rem

  &__wrapper
    display: flex
    +min_xxl
      column-gap: 3.125rem
    +xl
      column-gap: 50px

  &__card
    flex: 1 1 50%
    max-width: 50%
    background: $bg700
    +min_xxl
      max-height: 55.3125rem
      padding: 4.5rem
    +xl
      max-height: 885px
      padding: 72px

  &__map
    +min_xxl
      height: 24.1875rem
      margin-bottom: 3.3125rem
    +xl
      height: 387px
      margin-bottom: 53px

  &__title
    font-weight: 400
    color: $white
    font-family: $titleFont
    +min_xxl
      font-size: 2rem
      line-height: 2rem
      margin-bottom: 3rem
    +xl
      font-size: 32px
      line-height: 32px
      margin-bottom: 48px

  &__list
    +min_xxl
      margin-bottom: 3.25rem
    +xl
      margin-bottom: 52px

  &__item
    font-weight: 400
    +min_xxl
      font-size: 1.125rem
      line-height: 1.125rem
      &:not(:last-child)
        margin-bottom: 1.0625rem
    +xl
      font-size: 18px
      line-height: 18px
      &:not(:last-child)
        margin-bottom: 17px

    .icon
      &--contacts-location
        color: $accent
        +min_xxl
          width: 1.375rem
          height: 1.375rem
        +xl
          width: 22px
          height: 22px
      &--contacts-phone
        color: $accent
        +min_xxl
          width: 1.375rem
          height: 1.375rem
        +xl
          width: 22px
          height: 22px
      &--contacts-clock
        color: $accent
        +min_xxl
          width: 1.375rem
          height: 1.375rem
        +xl
          width: 22px
          height: 22px

  &__link
    margin-left: 0.9375rem
    text-decoration: none
    color: rgba($white , 0.75)

  &__btn
    +min_xxl
      width: 13.8125rem
      height: 3.3125rem
      margin-right: 1.375rem
    +xl
      width: 221px
      height: 53px
      margin-right: 22px
    span
      color: $bg300
      font-weight: 600
      letter-spacing: 0.02em
      +min_xxl
        font-size: 1.125rem
        line-height: 1.3125rem
      +xl
        font-size: 18px
        line-height: 21px
    .icon
      &--whatsapp
        color: $black
        +min_xxl
          width: 1.1875rem
          height: 1.1875rem
        +xl
          width: 19px
          height: 19px

  &__direction-link
    font-weight: 400
    text-decoration: none
    color: rgba($white, 0.75)
    +min_xxl
      font-size: 1.125rem
      line-height: 1.375rem
    +xl
      font-size: 18px
      line-height: 22px
