.collage
  position: relative
  z-index: 1
  will-change: transform

  &__inner-wrap
    // position: relative
    // z-index: 4
  // &:after
  //   content: ''
  //   position: absolute
  //   top: 0
  //   left: 0
  //   width: 100%
  //   height: 400px
  //   transform: translateY(-100%)
  //   background-image: linear-gradient(to bottom, transparent, #000)
  &__diamond
    position: relative
    display: flex
    align-items: center
    width: 31rem
    height: 23.125rem
    // transform: translateX(calc(-50% - 8px))
    // margin-left: auto
    &-img
      width: 100%
      height: 100%
      object-fit: cover
    &-wrap
      position: absolute
      top: -6.875rem
      left: 50%
      transform: translateX(calc(-50% + 25.375rem))
    &-flare
      opacity: 1
      &-wrap
        position: absolute
        top: -3.4375rem
        right: 0.9375rem
        display: flex
        align-items: center
        justify-content: center
        width: 28.625rem
        height: 28.625rem
        transform: translateX(50%)
        z-index: 1

  &__list
    display: grid
    max-width: 107.5rem
    width: 100%
    margin: 0 auto
    gap: 5rem
    grid-template-columns: minmax(28.9375rem, auto) minmax(28.9375rem, auto) minmax(28.9375rem, auto)
    // margin-top: -260px
    // overflow: hidden
    // z-index: 2
    // background: $base-black
    // position: relative

  &__item
    display: flex
    justify-content: center
    align-items: center
    position: relative
    z-index: 1
    &--center
      z-index: 2
      // &:after
      //   content: ''
      //   position: absolute
      //   bottom: 0
      //   left: 0
      //   width: 100%
      //   height: 200px
      //   transform: translateY(100%)
      //   background-image: linear-gradient(to top, transparent, $base-black)
    &:nth-child(1)
      width: 36.1875rem
      height: 24.375rem
      grid-column-start: 1
      grid-column-end: 4
      justify-self: center
      margin-right: -6.625rem
    &:nth-child(2)
      width: 33.8125rem
      height: 38.1875rem
      margin-top: -15.375rem
    &:nth-child(3)
      width: 33.8125rem
      height: 26.25rem
    &:nth-child(4)
      width: 29.5625rem
      height: 25.1875rem
      margin-top: -3.25rem
    &:nth-child(5)
      width: 39rem
      height: 25.5625rem
      margin-top: -0.3125rem
    &:nth-child(6)
      width: 28.9375rem
      height: 31.25rem
      justify-self: center
      margin-right: -4.8125rem
    &:nth-child(7)
      width: 29.5625rem
      height: 27.75rem
      margin-top: -3.25rem

  &__img
    width: 100%
    height: 100%
    object-fit: cover
    will-change: transform
