.collage
  position: relative
  z-index: 1
  will-change: transform

  .container-fluid
    +sm
      padding: 0

  &__diamond
    position: relative
    display: flex
    align-items: center
    width: 25.833vw
    height: 19.271vw

    &-img
      width: 100%
      height: 100%
      object-fit: contain
    &-wrap
      position: absolute
      left: 50%
      top: -5.729vw
      transform: translateX(calc(-50% + 21.146vw))

    &-flare
      opacity: 1
      &-wrap
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        transform: translateX(50%)
        z-index: 1
        top: -2.865vw
        right: 0.781vw
        width: 23.854vw
        height: 23.854vw

  &__list
    display: grid
    width: 100%
    margin: 0 auto
    gap: 4.167vw
    grid-template-columns: minmax(24.115vw, auto) minmax(24.115vw, auto) minmax(24.115vw, auto)
    max-width: 89.583vw
    +lg
      gap: 4.541vw
      grid-template-columns: repeat(3, 1fr)
      max-width: 100%

  &__item
    display: flex
    justify-content: center
    align-items: center
    position: relative
    z-index: 1
    will-change: opacity
    &--center
      z-index: 2
    &:nth-child(1)
      grid-column-start: 1
      grid-column-end: 4
      justify-self: center
      width: 30.156vw
      height: 20.313vw
      margin-right: -5.521vw
      +lg
        width: 32.6vw
        height: 21.956vw
        margin-right: -6.121vw

    &:nth-child(2)
      width: 28.177vw
      height: 31.823vw
      margin-top: -12.813vw
      +lg
        width: 30.65vw
        height: 34.208vw
        margin-top: -13.813vw

    &:nth-child(3)
      width: 28.177vw
      height: 21.875vw
      +lg
        width: 30.575vw
        height: 23.411vw

    &:nth-child(4)
      width: 24.635vw
      height: 20.990vw
      margin-top: -2.708vw
      +lg
        width: 26.741vw
        height: 22.503vw
    &:nth-child(5)
      width: 32.500vw
      height: 21.302vw
      margin-top: -0.260vw
      +lg
        width: 35.116vw
        height: 22.906vw
    &:nth-child(6)
      justify-self: center
      width: 24.115vw
      height: 26.042vw
      margin-right: -4.010vw
      +lg
        width: 25.933vw
        height: 28.254vw
    &:nth-child(7)
      width: 24.635vw
      height: 23.125vw
      margin-top: -2.708vw
      +lg
        width: 26.741vw
        height: 24.924vw

  &__img
    width: 100%
    height: 100%
    object-fit: cover
    will-change: transform, opacity
