body
	min-width: 375px
	position: relative
	font-family: $deff
	line-height: 1.65
	overflow-x: hidden
	-webkit-font-smoothing: antialiased
	max-width: 100%
	width: 100%
	color: $c1

// ::-webkit-scrollbar
// 	width: 0
// 	-ms-overflow-style: none
// 	overflow: -moz-scrollbars-none
.container
	+sm
		--bs-gutter-x: 16px
.row
	+sm
		--bs-gutter-x: 32px

.chromeperfectpixel-panel-ads
	display: none !important

html,
body
	font-size: 16px
	+xxl
		font-size: 15px
	+xl
		font-size: 14px
	+lg
		font-size: 12px
	+md
		font-size: 11px
	+sm

main
	padding-top: 56px
	overflow: hidden
	&.not-found-page
		padding: 0
	&.vacancy-page
		overflow: visible
