body
  position: relative
  width: 100%
  min-width: 375px
  max-width: 100%
  overflow-x: hidden
  -webkit-font-smoothing: antialiased

::-webkit-scrollbar
  width: 0
  -ms-overflow-style: none
  overflow: -moz-scrollbars-none

.chromeperfectpixel-panel-ads
  display: none !important

html,
body
  font-size: 16px
  +xxl
    font-size: 15px
  +xl
    font-size: 14px
  +lg
    font-size: 12px
  +md
    font-size: 11px
  +sm
