// Fonts
$deff: "Gilroy", sans-serif
$titleFont: 'SangBleu Sunrise', sans-serif
$tenorSansFont: 'Tenor Sans', sans-serif

// Colors
$white: #fff
$accent: #DBCBA4
$bg200: #020202
$bg300: #030303
$bg700: #070707
$dark: #1C242C
$gray-light: #666666
$green: #30BF4C
$dark-grey: #6D6D6D
$black: #0F0F0F

// Hamburger
$hamburger-padding-x: 0
$hamburger-padding-y: 0
$hamburger-layer-width: 32px
$hamburger-layer-height: 4px
$hamburger-layer-spacing: 6px
$hamburger-layer-color: #303030
$hamburger-layer-border-radius: 1px
$hamburger-hover-opacity: 1

// Media queries breakpoints for mixins
$xsm: 420px

// Small ≥576px
$sm: 576px
$sm_maxw: 540px

// Medium ≥768px
$md: 768px
$md_maxw: 720px

// Large ≥992px
$lg: 992px
$lg_maxw: 960px

// Extra Large ≥1440px
$xl: 1440px
$xl_maxw: 1344px + 24px

// Extra Large ≥1700px
$xxl: 1800px
$xxl_maxw: 1700px

// Extra Large ≥1440px
$xxxl: 1900px

// Vertical breakpoints
$h800: 800px

//portfolio
$h730: 730px

// ==========================================================================
// Bootstrap
// ==========================================================================
$grid-gutter-width: 100px
// Media queries breakpoints
$grid-breakpoints: (xs: 0, sm: $sm, md: $md, lg: $lg, xl: $xl, xxl: $xxl)
// grid container width
$container-max-widths: (sm: $sm_maxw, md: $md_maxw, lg: $lg_maxw, xl: $xl_maxw, xxl: $xxl_maxw)
