footer.b-footer
  .custom-container._wrap
    ._row.-top-line
      ._col.-left
        ._logo-wrap
          a.b-logo.-small._logo(href='#', aria-label='Footer logotype link')
            +icon('logo')
          nav.b-nav.-medium.-light.-vertical._left-nav
            ul._list.-vertical
              li._item
                a._link(href='#') О нас
              li._item
                a._link(href='#') Услуги
              li._item
                a._link(href='#') Специалисты
              li._item
                a._link(href='#') Почему мы
      ._col.-center
        nav.b-nav.-medium.-light.-vertical
          ul._list.-vertical
            li._item
              a._link(href='#') Отзывы
            li._item
              a._link(href='#') Контакты
            li._item
              a._link(href='#') Политика конфиденциальности
            li._item
              a._link(href='#') Пользовательское соглашение
      ._col.-right
        ._phone-wrap
          a._phone(href='tel:+8495885705')
            ._phone-icon-wrap
              +icon('whatsapp')
            span 8 (495) 885-70-5
          ._address ТЦ «Неглинная Галерея»Трубная пл. 2
        nav.b-social._social
          ul._list
            li._item
              a._link(href='#', aria-label='Social link VK')
                +icon('vk')
            li._item
              a._link(href='#', aria-label='Social link OK')
                +icon('ok')
            li._item
              a._link(href='#', aria-label='Social link telegram')
                +icon('tg')
    ._row.-bottom-line
      ._col.-left
        ._info-text ООО “Давиани Плюс” 2021. Все права защищены
      ._col.-center
        ._info-text (Медицинская лицензия № ЛО-77-01-013845)
      ._col.-right
        ._info-text Проект и дизайн интерьера - Смолина Юлия

// Testing
//- .container
  .d-flex.align-items-center(style='border: 1px solid #fff; padding: 50px; background: #fff; margin-bottom: 300px')
    .mr-20(style='margin-right: 20px')
      a.b-btn.-dark-text.-bg-accent.-iconed-right.-aic.-overlay-white-border.-xl(href='#')
        span Записаться
        ._icon-wrap
          +icon('arrow-styled-with-line')
    div
      a.b-btn.-accent-text.-bg-dark.-iconed-right.-aic.-lg(href='#')
        span Записаться
        ._icon-wrap
          +icon('expand-styled')

|
|
|
//- // Request popup
//- .b-mfp.zoom-anim-dialog.mfp-hide#request-popup
  .b-request-popup

|
|
|
//- // Success popup
  .b-mfp.-succes-popup.zoom-anim-dialog.mfp-hide#success
    .b-form-result.-success
      .b-mess
        ._title Success!
        ._desc We will contact with you soon

|
|
|
// Scripts
//- script(src='js/libs.min.js')
//- script(src='js/main.bundle.js')
