footer.b-footer
  .custom-container._wrap
    ._row.-top-line
      ._col.-left
        ._logo-wrap
          a.b-logo.-small._logo(href='index.html', aria-label='Footer logotype link')
            +icon('logo')
          nav.b-nav.-medium.-light.-vertical._left-nav
            ul._list.-vertical
              li._item
                a._link.js-scroll(href='#facilities') О нас
              li._item
                a._link.js-scroll(href='#services') Услуги
              li._item
                a._link.js-scroll(href='#masters') Специалисты
              li._item
                a._link.js-scroll(href='#advantages') Почему Давиани
      ._col.-center
        nav.b-nav.-medium.-light.-vertical
          ul._list.-vertical
            li._item
              a._link.js-scroll(href='#works') Отзывы
            li._item
              a._link.js-scroll(href='#main-contacts') Контакты
            li._item
              a._link(href='https://daviani.ru/privacy.html', target='_blank') Политика конфиденциальности
            li._item
              a._link(href='https://daviani.ru/terms.html', target='_blank') Пользовательское соглашение
      ._col.-right
        ._phone-wrap
          a._phone(href='https://wa.me/+7495885705', target='_blank')
            ._phone-icon-wrap
              +icon('whatsapp')
            span 8 (495) 885-70-5
          ._address ТЦ «Неглинная Галерея»Трубная пл. 2
        nav.b-social._social
          ul._list
            li._item
              a._link(href='https://vk.com/daviani_ru', target='_blank', aria-label='Social link VK')
                +icon('vk')
            li._item
              a._link(href='https://ok.ru/group/70000000783276', target='_blank', aria-label='Social link OK')
                +icon('ok')
            li._item
              a._link(href='https://t.me/davianispa', target='_blank', aria-label='Social link telegram')
                +icon('tg')
    ._row.-bottom-line
      ._col.-left
        ._info-text ООО “Давиани Плюс” 2021. Все права защищены
      ._col.-center
        ._info-text (Медицинская лицензия № ЛО-77-01-013845)
      ._col.-right
        ._info-text Проект и дизайн интерьера - Смолина Юлия

|
|
|
// Request popup
#request-popup.b-mfp.-request-popup.zoom-anim-dialog.mfp-hide
  .b-request-popup
    ._img-wrap
      img._img(src='img/bg/request-popup-bg.png', alt='')
    ._content
      h3._title Оставить заявку
      form._form
        ._inputs-wrap
          .b-input._input
            input._element(type='text', name='name', data-name='Имя', data-type='name', placeholder='Ваше имя')
          .b-input._input
            input._element(type='text', name='phone', data-name='Телефон', data-type='phone', placeholder='Номер телефон')
        ._btn-wrap
          button.b-btn.-dark-text.-bg-accent.-iconed-right.-aic.-lg._btn(type='submit')
            span Записаться
            ._icon-wrap
              +icon('expand-styled')
        .b-form-result
          .b-mess
            h3.second-title._title Спасибо!
            ._desc Мы свяжемся с Вами в ближайшее время.

|
|
|
// Success popup
#success.b-mfp.-succes-popup.zoom-anim-dialog.mfp-hide
  .b-form-result
    .b-mess
      ._title Спасибо!
      ._desc We will contact with you soon

|
|
|
// Scripts
//- script(src='js/libs.min.js')
//- script(src='js/main.bundle.js')
