header.b-header
  .custom-container
    ._content-wrap
      ._content.-left
        ._mobile
          a.b-hamburger.-green.-small.-slider._hamburger.js-menu.hamburger--slider
            span.hamburger-box
              span.hamburger-inner
        a.b-location._location(href='#')
          ._icon.-pin-icon
            +icon('location')
          span._text Салоны
          ._icon.-expand-icon
            +icon('expand')
        nav.b-nav.-small.-light.-horizontal.-uppercase._nav-left
          ul._list
            li._item
              a._link(href='#') О нас
            li._item
              a._link(href='#') Услуги
            li._item
              a._link(href='#') Специалисты
      ._content.-center
        a.b-logo.-medium._logo(href='#')
          +icon('logo')
      ._content.-right
        ._mobile
          a._location-link.-icon(href='#')
            +icon('location')
          a._phone-link.-icon(href='#')
            +icon('phone')
        nav.b-nav.-small.-light.-horizontal.-uppercase._nav-right
          ul._list
            li._item
              a._link(href='#') Почему мы
            li._item
              a._link(href='#') Отзывы
            li._item
              a._link(href='#') Контакты
        a.b-btn.-accent-outlined.-md._btn(href='#') Оставить заявку
