header.b-header
  .custom-container
    ._content-wrap
      ._content.-left
        ._mobile
          ._hamburger-wrap
            a.b-hamburger.-green.-small.-slider._hamburger.js-menu.hamburger--slider(href='#', aria-label='Hamburger btn')
              span.hamburger-box
                span.hamburger-inner
        ._location-wrap
          a.b-location._location(href='#')
            ._icon.-pin-icon
              +icon('location')
            span._text Салоны
            ._icon.-expand-icon
              +icon('expand')
        nav.b-nav.-small.-light.-horizontal.-uppercase._nav-left
          ul._list
            li._item
              a._link.js-scroll(href='#facilities') О нас
            li._item
              a._link.js-scroll(href='#services') Услуги
            li._item
              a._link.js-scroll(href='#masters') Специалисты
      ._content.-center
        a.b-logo.-medium._logo(href='index.html', aria-label='Logotype link')
          +icon('logo')
      ._content.-right
        ._mobile.-right
          a._location-link.-icon(href='#', aria-label='Location button')
            +icon('location')
          a._phone-link.-icon(href='#', aria-label='Phone button')
            +icon('phone')
        nav.b-nav.-small.-light.-horizontal.-uppercase._nav-right
          ul._list
            li._item
              a._link(href='#') Почему Давиани
            li._item
              a._link.js-scroll(href='#works') Отзывы
            li._item
              a._link.js-scroll(href='#main-contacts') Контакты
        ._right-btn-wrap
          a.b-btn.-accent-outlined.-sm._btn.js-popup.js-popup-additional(
            href='#request-popup',
            data-field='additional',
            data-name='Кнопка в шапке'
          ) Оставить заявку
