.masters
  padding: 63px 0 82px

  &__title
    &-wrap
      position: relative
      margin-left: 200px
      max-width: 1070px
      z-index: 1
      margin-bottom: 101px

  &__decor-line
    position: absolute
    top: -113px
    left: -144px
    display: flex
    align-items: center
    justify-content: center
    color: $accent
    width: 326px
    height: 316px
    z-index: -1

  &__slider
    margin-bottom: 102px

  &__video
    &-wrap
      position: relative
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      min-height: 900px
    &-btn
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 50%
      left: 50%
      width: 112px
      height: 79px
      transform: translate(-50%, -50%)
