.masters
  padding: 63px 0 82px

  &__title
    &-wrap
      position: relative
      margin-left: 200px
      max-width: 1070px
      z-index: 1

  &__top-line
    display: flex
    align-items: flex-end
    justify-content: space-between
    margin-bottom: 93px

  &__slider-btns-wrap
    display: flex
    align-items: center
    margin-bottom: 8px

  &__slider-btn
    display: flex
    align-items: center
    justify-content: center
    width: 100px
    height: 100px
    border-radius: 50%
    border: 1px solid $accent
    opacity: 0.44
    background: none
    outline: none
    color: $accent
    transition: all 0.3s ease

    &:hover:not(&--disabled)
      opacity: 0.55
    & > svg
      width: 47px
      height: 23.5px
      transition: all 0.3s ease
      will-change: transform
    &--prev
      margin-right: 16px
      &:hover:not(.masters__slider-btn--disabled)
        & > svg
          transform: translateX(-1px)
    &--next
      transform: rotate(180deg)
      &:hover:not(.masters__slider-btn--disabled)
        & > svg
          transform: translateX(-1px)

  &__decor-line
    position: absolute
    top: -113px
    left: -144px
    display: flex
    align-items: center
    justify-content: center
    color: $accent
    width: 326px
    height: 316px
    z-index: -1

  &__slider
    margin-bottom: 102px
    padding-left: 50px

  &__video
    &-wrap
      position: relative
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      min-height: 900px
    &-btn
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 50%
      left: 50%
      width: 112px
      height: 79px
      transform: translate(-50%, -50%)
