.masters-slider
  &__item
    position: relative
    background: $accent
    max-width: 1342px
    z-index: 1

  &__card
    padding: 143px 0 140px 90px
    min-height: 586px

  &__img
    width: 100%
    height: 100%
    object-fit: contain
    z-index: -1
    &-wrap
      position: absolute
      right: 0
      top: 0
      display: flex
      align-items: center
      justify-content: center
      height: 100%
      width: 100%
      max-width: 791px

  &__proffession
    font-family: $titleFont
    font-weight: 400
    font-size: 24px
    line-height: 24px
    color: $bg200
    margin-bottom: 14px

  &__name
    font-family: $titleFont
    font-weight: 400
    font-size: 52px
    line-height: 62px
    color: $bg200
    margin-bottom: 18px

  &__experience
    &-wrap
      font-weight: 400
      font-size: 18px
      line-height: 22px
      color: $bg200
      display: inline-flex
      align-items: center
      margin-bottom: 51px

    &-title
      display: inline-block
      margin-right: 4.5px
    &-date
      font-weight: 600

  &__desc
    font-weight: 400
    font-size: 22px
    line-height: 32px
    color: $bg200
    margin-bottom: 52px
    max-width: 586px
    p
      margin-bottom: 0

  &__btn
    margin-right: 24px
    &-wrap
      display: flex
      align-items: center
