////////// Default btn
// TODO: Нужно доделать ховеры, как дизайнер сделает UI Kit
// TODO: Нужно доделать остальные кнопки
.btn
  position: relative
  display: inline-block
  color: $white
  text-align: center
  text-decoration: none
  border: none
  outline: none
  letter-spacing: 0.02em
  transition: all .3s ease
  &:focus:not(.disabled),
  &:hover:not(.disabled)
    outline: none
    cursor: pointer
    color: $white
    text-decoration: none
  &.disabled
    opacity: .4
    user-select: none
  &__icon-wrap
    display: flex
    align-items: center
    justify-content: center
    svg
      transition: all 0.3s ease
  span
    color: inherit

  &--light-text
    color: $white
  &--dark-text
    color: $dark
  &--accent-text
    color: $accent
  &--accent-outlined
    border: 1px solid $accent
  &--bg-accent
    background-color: $accent
  &--bg-dark
    background-color: $darkenBg
  &--overlay-white-border
    &:after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: calc(100% - 4px)
      height: calc(100% - 4px)
      border: 1px solid $white
      transform: translate(-50%, -50%)
      pointer-events: none
  &--aic
    display: inline-flex
    align-items: center
  &--iconed-right
    span
      margin-right: 10px
  &--iconed-left
    span
      margin-left: 10px
  &--xl
    // 66
    font-weight: 600
    font-size: 20px
    line-height: 20px
    letter-spacing: 0.02em
    padding: 23px 60px
    .btn
      &__icon-wrap
        width: 28px
        height: 16px

  &--lg
    // 63
    font-weight: 600
    font-size: 18px
    line-height: 18px
    letter-spacing: 0.02em
    padding: 22.5px 52px
    .btn
      &__icon-wrap
        width: 10px
        height: 16px

  &--md
    // 53
    font-weight: 600
    font-size: 16px
    line-height: 19px
    letter-spacing: 0.02em
    padding: 13px 31px

  &--sm
    // 47
