////////// Default btn
// TODO: Нужно доделать ховеры, как дизайнер сделает UI Kit
// TODO: Нужно доделать остальные кнопки
.btn
  position: relative
  display: inline-block
  color: $white
  text-align: center
  text-decoration: none
  border: none
  outline: none
  letter-spacing: 0.02em
  transition: all .3s ease
  &:focus:not(.disabled),
  &:hover:not(.disabled)
    outline: none
    cursor: pointer
    text-decoration: none
  &.disabled
    opacity: .4
    user-select: none
  &__icon-wrap
    display: flex
    align-items: center
    justify-content: center
    svg
      transition: all 0.3s ease
  span
    color: inherit

  &--light-text
    color: $white
  &--dark-text
    color: $dark
  &--bg200-text
    color: $bg200
    &:hover
      color: lighten($bg200, 10%)
  &--accent-text
    color: $accent
  &--accent-outlined
    border: 0.0625rem solid $accent
  &--bg-accent
    background-color: $accent
  &--bg-dark
    background-color: $bg200
  &--overlay-white-border
    &:after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: calc(100% - 0.25rem)
      height: calc(100% - 0.25rem)
      border: 0.0625rem solid $white
      transform: translate(-50%, -50%)
      pointer-events: none
  &--aic
    display: inline-flex
    align-items: center
  &--iconed-right
    span
      margin-right: 0.625rem
  &--iconed-left
    span
      margin-left: 0.625rem
  &--xl
    // 66
    font-weight: 600
    font-size: 1.25rem
    line-height: 1.25rem
    letter-spacing: 0.02em
    &:not(.btn--link)
      padding: 1.4375rem 3.75rem
    .btn
      &__icon-wrap
        width: 1.75rem
        height: 1rem

  &--lg
    // 63
    font-weight: 600
    font-size: 1.125rem
    line-height: 1.125rem
    letter-spacing: 0.02em
    &:not(.btn--link)
      padding: 1.4063rem 3.25rem
    .btn
      &__icon-wrap
        width: 0.625rem
        height: 1rem

  &--md
    // 53
    font-weight: 600
    +min_xl
      font-size: 1rem
      line-height: 1.1875rem
      letter-spacing: 0.02em
      &:not(.btn--link)
        padding: 0.8125rem 1.9375rem
    +xl
      font-size: 14px
      line-height: 19px
      letter-spacing: 0.02em
      &:not(.btn--link)
        padding: 5px 20px
    +xl
      font-size: 10px
      &:not(.btn--link)
        padding: 3px 15px

  &--sm
    // 47
