.hamburger
  display: none
  padding: 0
  background: transparent
  border: 0
  cursor: pointer
  z-index: 10
  outline: none
  +lg
    display: flex
    justify-content: center
    align-items: center
  &.is-active
    .hamburger
      &-inner
        // background: $gray2
        &:after
          // background: $gray2
