.location
  display: flex
  align-items: center
  color: $white
  text-decoration: none
  &:hover
    color: $white

  &__text
    font-weight: 500
    font-size: 18px
    line-height: 24px
    letter-spacing: 0.02em
    color: $white
    margin-right: 6px

  &__icon
    display: flex
    align-items: center
    justify-content: center
    &--pin-icon
      width: 16px
      height: 16px
      margin-right: 10px
      color: $accent
    &--expand-icon
      width: 16px
      height: 16px
