.logo
  display: flex
  align-items: center
  justify-content: center
  color: $accent
  &:hover
    color: $accent
  &--medium
    +min_xl
      width: 9.0625rem
      height: 8.1875rem
      min-width: 9.0625rem
      min-height: 8.1875rem
    +xl
      width: 100px
      height: 90px
    +lg
      width: 95px
      height: 85px
  &--small
    +min_xl
      width: 8.5rem
      height: 8.5rem
      min-width: 8.5rem
      min-height: 8.5rem
    +xl
      width: 86px
      height: 86px
    +lg
      width: 136px
      height: 136px
      margin-bottom: 52px
