.nav
  &--small
    a
      font-weight: 500
      font-size: 0.875rem
      line-height: 1.25rem
      letter-spacing: 0.04em
  &--medium
    a
      font-weight: 400
      font-size: 1rem
      line-height: 1.25rem
  &--uppercase
    a
      text-transform: uppercase
  &--light
    a
      color: $white
      &:hover
        color: $accent
  &--vertical
    li
      margin-bottom: 1rem
  &--horizontal
    ul
      display: flex
      align-items: center
    li
      &:not(:last-child)
        margin-right: 2.5rem

  a
    text-decoration: none
