.nav
  &--small
    a
      font-weight: 500
      +min_xl
        font-size: 0.875rem
        line-height: 1.25rem
        letter-spacing: 0.04em
      +xl
        font-size: 11px
        line-height: 20px
        letter-spacing: 0.04em

  &--medium
    a
      font-weight: 400
      +min_xl
        font-size: 1rem
        line-height: 1.25rem
      +xl
        font-size: 13px
        line-height: 20px
      +lg
        font-size: 16px

  &--uppercase
    a
      text-transform: uppercase
  &--light
    a
      color: $white
      &:hover
        color: $accent
  &--vertical
    li
      margin-bottom: 1rem
      +lg
        margin-bottom: 12px
  &--horizontal
    ul
      display: flex
      align-items: center
    li
      &:not(:last-child)
        +min_xl
          margin-right: 2.5rem
        +xl
          margin-right: 18px
  &--vertical-menu
    li
      &:not(:last-child)
        margin-bottom: 26px

  a
    text-decoration: none

  &__list--vertical
    +lg
      display: flex
      flex-direction: column
      align-items: center
