////////// Typography
body
  font-family: $deff
  color: $white
  line-height: 1.65

ul
  margin: 0
  padding: 0
  list-style-type: none

li
  line-height: normal

a
  transition: all .3s ease
  &:hover
    text-decoration: none
  &:focus
    text-decoration: none
    outline: none

img

  width: auto
  max-width: 100%
  height: auto

// Titles
.second-title
  font-weight: 400
  font-family: $tenorSansFont
  &:not(&--large)
    font-size: 77px
    line-height: 77px
  &--light
    color: $white
  &--large
    font-size: 100px
    line-height: 100px

.body1
  font-weight: 400
  font-size: 16px
  line-height: 24px
