.advantages
  position: relative
  padding: 5.625rem 0 0
  overflow: hidden
  z-index: 1
  // TODO: Потом нужно исправить заголовок как в дизайне
  &__title
    position: relative
    font-family: $titleFont
    font-weight: 400
    font-size: 12.5rem
    line-height: 11.25rem
    text-align: center
    letter-spacing: 0.04em
    color: $accent
    height: 100vh
    padding-top: 15vh
    margin-bottom: 16rem
    z-index: -1
    +xxl
      padding-top: 170px
    &-wrap
      overflow: hidden

  &__wrap
    background: $bg300
    position: relative
    z-index: 1
    &:after
      content: ''
      position: absolute
      top: 2px
      left: 0
      width: 100%
      height: 25.125rem
      +gradient_y(transparent, $bg300)
      transform: translateY(-100%)
      will-change: transform
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: url('../img/bg/mask.webp') repeat
      pointer-events: none
      z-index: -1
      opacity: 0.07

  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    position: relative
    z-index: 1

  &__col
    display: flex
    flex-direction: column
    text-align: center
    will-change: transform
    &--left
      flex: 1 1 25%
      max-width: 25%
      margin-top: 16rem
    &--center
      flex: 1 1 50%
      max-width: 50%
      align-items: center
      margin-top: -16rem
    &--right
      margin-top: 16rem
      flex: 1 1 25%
      max-width: 25%

  &__img
    width: 100%
    height: 100%
    object-fit: cover
    &-wrap
      display: flex
      align-items: center
      justify-content: center
      &--left
        max-width: 29.875rem
        width: 100%
        height: 42.25rem
      &--center
        max-width: 37.5rem
        width: 100%
        height: 48.6875rem
        margin-bottom: 3.25rem
      &--right
        max-width: 25rem
        width: 100%
        height: 32.8125rem
