#menu.b-mfp.-menu.zoom-anim-dialog.mfp-hide
  .b-menu.js-menu-animation
    ._nav-wrap
      nav.b-nav.-medium.-light.-vertical-menu.-uppercase._nav-left
        ul._list
          li._item
            a._link.js-menu-scroll(href='#facilities') О нас
          li._item
            a._link.js-menu-scroll(href='#services') Услуги
          li._item
            a._link.js-menu-scroll(href='#masters') Специалисты
          li._item
            a._link.js-menu-scroll(href='#masters') Почему мы
          li._item
            a._link.js-menu-scroll(href='#masters') Отзывы
          li._item
            a._link.js-menu-scroll(href='#main-contacts') Контакты
    ._phone-wrap
      a._phone(href='tel:8 (495) 885-70-59') 8 (495) 885-70-59
    ._btn-wrap
      a.b-btn.-bg-accent.-iconed-left.-bg300-text.-md.-aic._btn(href='https://wa.me/+74958857059', target='_blank')
        ._icon-wrap
          +icon('whatsapp')
        span Чат WhatsApp
    nav._contact-nav
      ul._contact-nav-list
        li.b-contact-item._contact-item
          ._icon-wrap
            +icon('contacts-location')
          ._text-wrap
            span._text.-top Трубная Площадь, д. 2, 2 этаж
            span._text.-bottom (м.Трубная)
        li.b-contact-item._contact-item
          ._icon-wrap
            +icon('contacts-location')
          ._text-wrap
            span._text.-top Большая Якиманка, д. 22, 1 этаж
            span._text.-bottom (м.Полянка)
    ._social-wrap
      nav.b-social.-flex-start._social
        ul._list
          li._item
            a._link(href='https://vk.com/daviani_ru', target='_blank', aria-label='Social link VK')
              +icon('vk')
          li._item
            a._link(href='https://ok.ru/group/70000000783276', target='_blank', aria-label='Social link OK')
              +icon('ok')
          li._item
            a._link(href='https://t.me/davianispa', target='_blank', aria-label='Social link telegram')
              +icon('tg')
