.services-card
  display: flex
  +md
    flex-wrap: wrap

  &__content
    +min_xl
      padding: 6.5rem 10.625rem 6.4375rem 7.0625rem
    +xl
      padding: 40px 60px 40px 40px
    +lg
      padding: 30px 60px 30px 30px
    +md
      display: flex
      align-items: flex-start
      flex-direction: column
      padding: 32px 0 0

  &__img
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    height: 100%
    object-fit: cover
    transform: translate(-50%, -50%)
    opacity: 0
    visibility: hidden
    pointer-events: none
    transition: all 0.5s linear
    &--active
      opacity: 1
      visibility: visible
    &-wrap
      position: relative
      display: flex
      align-items: center
      justify-content: center
      height: 100%
      +min_xl
        max-width: 72.125rem
        min-height: 44.6875rem
      +xl
        min-height: 100%
      +md
        height: 350px

  &__col
    &--left
      flex: 1 1 37%
      max-width: 37%
      +xl
        flex: 1 1 50%
        max-width: 50%
      +lg
        flex: 1 1 53.241%
        max-width: 53.241%
      +md
        flex: 1 1 100%
        max-width: 100%
        order: 2
    &--right
      flex: 1 1 63%
      max-width: 63%
      +xl
        flex: 1 1 50%
        max-width: 50%
      +lg
        flex: 1 1 46.759%
        max-width: 46.759%
      +md
        flex: 1 1 100%
        max-width: 100%
        order: 1

  &__list
    +min_xl
      margin-bottom: 6.375rem
    +xl
      margin-bottom: 60px
    +md
      display: flex
      align-items: flex-start
      flex-direction: column
      width: 100%
      overflow: hidden

  &__item
    &--active
      .services-card
        &__link
          color: $accent
          transform: translateX(32px)
          &:hover
            color: $accent
        &__icon-wrap
          visibility: visible
          opacity: 1

    &:not(:last-child)
      +min_xl
        margin-bottom: 1rem
      +xl
        margin-bottom: 16px

  &__icon-wrap
    +min_md
      display: none
    +md
      display: flex
      align-items: center
      justify-content: center
      width: 24px
      height: 12px
      margin-right: 8px
      visibility: hidden
      opacity: 0
      transition: all 0.3s ease
      transform: translateX(-32px)

  &__link
    font-weight: 400
    color: $white
    text-decoration: none
    font-family: $tenorSansFont
    display: flex
    align-items: center
    margin-left: 0
    span
      display: inline-block
      margin-left: -32px

    +min_xl
      font-size: 1.5rem
      line-height: 2.125rem
    +xl
      font-size: 20px
      line-height: 26px
    +sm
      font-size: 18px
      line-height: 24px
    &:hover
      color: darken($white, 15%)

  &__discount
    font-weight: 400
    color: rgba($white, 0.55)
    margin-bottom: 0.5rem
    +min_xl
      font-size: 1rem
      line-height: 1.25rem
    +xl
      font-size: 16px
      line-height: 20px

  &__price
    font-family: $titleFont
    font-weight: 400
    letter-spacing: 0.04em
    color: $white
    +min_xl
      margin-bottom: 1.75rem
      font-size: 2.5rem
      line-height: 3.125rem
    +xl
      font-size: 30px
      line-height: 40px
      margin-bottom: 22px
    +lg
      font-size: 40px
      line-height: 50px
    +md
      margin-bottom: 32px

  &__btn
    width: 100%
    justify-content: center
    text-align: center
    &-wrap
      width: 100%
