.services
  position: relative
  +min_xl
    padding: 5.1875rem 0 0
  +xl
    padding: 50px 0 0
  +lg
    padding: 40px 0 0
  +sm
    padding: 26px 0 0

  // +min_lg
  &:after
    content: ''
    position: absolute
    bottom: 1px
    left: 0
    width: 100%
    transform: translateY(100%)
    z-index: 2
    +gradient_y($bg300, transparent)
    +min_xl
      height: 25rem
    +xl
      height: 350px

  &__title
    text-align: center
    +min_xl
      margin: 0 auto 6.375rem
      max-width: 87.5rem
    +xl
      margin: 0 auto 80px
      max-width: 85%
    +lg
      max-width: 90%
      margin: 0 auto 52px
    +md
      max-width: 90%
      margin: 0 auto 42px
    +sm
      max-width: 100%
      margin: 0 auto 32px

  &__tab-nav-wrap
    display: flex
    align-items: center
    justify-content: center
    +min_xl
      margin-bottom: 3.1875rem
    +xl
      margin-bottom: 62px
    +md
      margin-bottom: 32px

  &__tab-content-wrap
    +min_xl
      margin-bottom: 10.125rem
    +xl
      overflow: hidden
      +min_lg
        margin-bottom: 150px
    +lg
      margin-bottom: 50px
