.services-banner
  position: relative
  +lg
    z-index: 2
  // +min_lg
  //   overflow: hidden

  &__img
    width: 100%
    object-fit: cover
    will-change: transform
    height: 38.5%
    &-wrap
      display: flex
      justify-content: center
      align-items: flex-start
      position: relative
      width: 100%
      +min_xl
        height: 62.5rem
      // +xl
      //   height: 800px
      +lg
        height: 500px

  &__background
    width: 100%
    background: $bg700
    +min_xl
      max-width: 50rem
      padding: 4.5rem
    +xl
      max-width: 700px
      padding: 58px
    +lg
      max-width: 665px
      padding: 52px
    +md
      max-width: 665px
      padding: 24px
      width: 100%

    &-wrap
      position: absolute
      +min_xl
        top: 6.4375rem
        left: 3.125rem
        opacity: 0
      +min_lg
        transform: translateY(300%)
      +xl
        top: 103px
        left: 50px
      // +lg
      //   top: auto
      //   left: 50%
      //   bottom: 111px
      //   transform: translate(-50%, 100%)
      //   width: 100%
      //   display: flex
      //   align-items: center
      //   justify-content: center
      +lg
        position: static
        top: auto
        bottom: auto
        // transform: translate(-50%, 100%)
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        margin-top: -111px
      +md
        padding: 0 30px
      +sm

  &__title
    position: relative
    font-weight: 400
    color: $white
    font-family: $tenorSansFont
    margin-bottom: 3.0625rem
    +min_xl
      font-size: 3.25rem
      line-height: 3.75rem
    +xl
      font-size: 48px
      line-height: 54px
    +lg
      font-size: 42px
      line-height: 42px
    +md
      font-size: 32px
      line-height: 36px
    &:after
      content: ''
      position: absolute
      left: 0
      background: $accent
      +min_xl
        width: 5rem
        bottom: -1.5625rem
        height: 0.0625rem
      +xl
        width: 80px
        bottom: -25px
        height: 1px

  &__desc
    font-weight: 400
    color: rgba($white, 0.55)
    margin-bottom: 0
    +min_xl
      font-size: 1.125rem
      line-height: 1.875rem
    +xl
      font-size: 18px
      line-height: 30px
    +lg
      font-size: 18px
      line-height: 26px
    +md
      font-size: 16px
      line-height: 24px
