.services-banner
  position: relative
  &__img
    &-wrap
      display: flex
      justify-content: center
      align-items: center

  &__background
    max-width: 800px
    width: 100%
    padding: 72px
    background: $bg700
    &-wrap
      position: absolute
      top: 103px
      left: 50px

  &__title
    position: relative
    font-weight: 400
    font-size: 52px
    line-height: 60px
    color: $white
    font-family: $tenorSansFont
    margin-bottom: 49px
    &:after
      content: ''
      position: absolute
      bottom: -24px
      left: 0
      width: 80px
      height: 1px
      background: $accent

  &__desc
    font-weight: 400
    font-size: 18px
    line-height: 30px
    color: rgba($white, 0.55)
