.services
  padding: 5.1875rem 0 0

  &__title
    text-align: center
    margin-bottom: 6.25rem
    margin: 0 auto 6.375rem
    max-width: 87.5rem

  &__tab-nav-wrap
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 3.1875rem

  &__tab-content-wrap
    margin-bottom: 10.125rem
