.tab-content
  position: relative
  z-index: 1
  +min_md
    background: linear-gradient(130.6deg, #121212 13.43%, rgba(28, 28, 28, 0) 73.08%)

  &__bg-icon
    position: absolute
    top: 50%
    width: 65.659%
    height: 90.769%
    color: $white
    opacity: 0.02
    z-index: -1
    +min_xl
      transform: translateY(calc(-50% + 0.625rem))
      left: 0.625rem
    +xl
      transform: translateY(calc(-50% + 10px))
      left: 10px
    +md
      display: none

  &__item
    width: 100% !important
    height: 100% !important
