section.b-advantages
  .container
    ._title Почему выбирают DAVIANI & SPA?
  ._row
    ._col.-left
      ._img-wrap.-left
        img._img(src='img/index/advantages/item-1.webp', alt='')
    ._col.-center
      ._img-wrap.-center
        img._img(src='img/index/advantages/item-2.webp', alt='')
      .b-advantages-info
        ._desc
          p “Наши клиенты — современные жители мегаполиса, которые следят за собой, любят себя и хотят сохранить здоровье и молодость самыми безопасными способами. Это люди, которые ценят свое время и доверяют свою красоту настоящим профессионалам. Красота рождается внутри. Внутри салона DAVIANI”
        ._signature-wrap
          ._icon.-left
            +icon('signature-left-icon')
          ._name-wrap
            ._signature-name Юлия Смолина
            ._signature-proffession Владелица DAVIANI & SPA
          ._icon.-right
            +icon('signature-right-icon')
    ._col.-right
      ._img-wrap.-right
        img._img(src='img/index/advantages/item-3.webp', alt='')
