section.b-brands(data-id='brands')
  .container-fluid
    ._wrapper
      ul._list
        li._item
          +icon('brand-1')
        li._item
          +icon('brand-2')
        li._item
          +icon('brand-3')
        li._item
          +icon('brand-4')
        li._item
          +icon('brand-5')
        li._item
          +icon('brand-6')
