section.b-brands
  .container-fluid
    ._wrapper
      ._item
        +icon('brand-1')
      ._item
        +icon('brand-2')
      ._item
        +icon('brand-3')
      ._item
        +icon('brand-4')
      ._item
        +icon('brand-5')
      ._item
        +icon('brand-6')
