section.b-facilities(data-id='facilities')
  .container-fluid
    ._title-wrap
      h2._title.second-title.second-title--light Мы продумали всё для вашего удобства
      ._sub-title Пространства Daviani - это место силы, где можно отдохнуть от городской суеты и восстановить внутренний баланс.
    ._photos-wrap
      ._decor-line
        ._decor-line-inner
          +icon('golden-decor-line')
      ul._list
        li._item
          img._img.lazy(src='img/index/facilities/dummy/dummy-image-1.gif', data-src='img/index/facilities/item-1.png', alt='')
        li._item
          img._img.lazy(src='img/index/facilities/dummy/dummy-image-2.gif', data-src='img/index/facilities/item-2.jpg', alt='')
        li._item
          img._img.lazy(src='img/index/facilities/dummy/dummy-image-3.gif', data-src='img/index/facilities/item-3.png', alt='')
