.b-facilities
  ._title-wrap
    h2._title Мы продумали всё для вашего удобства
    ._sub-title Пространства Daviani - это место силы, где можно отдохнуть от городской суеты и восстановить внутренний баланс.
  ._photos-wrap
    ._decor-line
      +icon('golden-decor-line')
    ul._list
      ._item
        img._img(src='img/index/facilities/item-1.jpg', alt='')
      ._item
        img._img(src='img/index/facilities/item-2.jpg', alt='')
      ._item
        img._img(src='img/index/facilities/item-3.jpg', alt='')
