section.b-facilities
  .container-fluid
    ._title-wrap
      h2._title.second-title.second-title--light Мы продумали всё для вашего удобства
      ._sub-title Пространства Daviani - это место силы, где можно отдохнуть от городской суеты и восстановить внутренний баланс.
    ._photos-wrap
      ._decor-line
        +icon('golden-decor-line')
      ul._list
        li._item
          img._img(src='img/index/facilities/item-1.png', alt='')
        li._item
          img._img(src='img/index/facilities/item-2.jpg', alt='')
        li._item
          img._img(src='img/index/facilities/item-3.png', alt='')
