.b-facilities
  ._title-wrap
    h2._title Мы продумали всё для вашего удобства
    ._sub-title Пространства Daviani - это место силы, где можно отдохнуть от городской суеты и восстановить внутренний баланс.
  ._photos-wrap
    ._item
      img._img(src='img/', alt='')
