section.b-main-gallery
  .container-fluid
    h1._title <span>Daviani beauty&SPA</span> один из лучших салонов премиум класса в Москве
    .b-collage
      ._diamond
        img._diamond-img(src='img/index/collage/diamond.png', alt='')
        ._diamond-flare-wrap
          img._diamond-flare(src='img/index/collage/flare.png', alt='')
      ul._list
        li._item
          img._img(src='img/index/collage/image-1.jpg', alt='')
        li._item
          img._img(src='img/index/collage/image-2.jpg', alt='')
        li._item.-center
          img._img(src='img/index/collage/image-3.jpg', alt='')
        li._item
          img._img(src='img/index/collage/image-4.jpg', alt='')
        li._item
          img._img(src='img/index/collage/image-5.jpg', alt='')
        li._item
          img._img(src='img/index/collage/image-6.jpg', alt='')
        li._item
          img._img(src='img/index/collage/image-7.jpg', alt='')
