section.b-main-gallery
  ._top-line
    .container-fluid
      h1._title <span>Daviani beauty&SPA</span> один из лучших салонов премиум класса в Москве
  .b-collage
    ._inner-wrap
      .container-fluid
        ._diamond-wrap
          ._diamond
            img._diamond-img(src='img/index/collage/diamond.webp', alt='')
            ._diamond-flare-wrap
              img._diamond-flare(src='img/index/collage/flare.webp', alt='')
        ul._list
          li._item
            img._img(src='img/index/collage/image-1.webp', alt='')
          li._item
            img._img(src='img/index/collage/image-2.webp', alt='')
          li._item.-center
            img._img(src='img/index/collage/image-3.png', alt='')
          li._item
            img._img(src='img/index/collage/image-4.webp', alt='')
          li._item
            img._img(src='img/index/collage/image-5.webp', alt='')
          li._item
            img._img(src='img/index/collage/image-6.webp', alt='')
          li._item
            img._img(src='img/index/collage/image-7.webp', alt='')
