section.b-main-contacts
  .container-fluid
    ._wrapper
      ._card.-left
        ._content
          ._map
            //- iframe(
            //-   src='https://yandex.ru/map-widget/v1/?um=constructor%3A585485ea05390ddda4058cf9daeb8c6511d91bc51e08f6e1624889c2697b3ed6&amp;source=constructor',
            //-   width='100%',
            //-   height='100%',
            //-   frameborder='0'
            //- )
          h5._title Салон в ТЦ «Неглинная Галерея»
          ul._list
            li._item
              +icon('contacts-location')
              a._link(href='#') Трубная Площадь, д. 2, 2 этаж (м.Трубная)
            li._item
              +icon('contacts-phone')
              a._link(href='84958857059') 8 (495) 885-70-59
            li._item
              +icon('contacts-clock')
              a._link(href='#') Ежедневно с 10:00 до 22:00
          ._card-wrap
            button._btn.btn.btn--bg-accent.btn--iconed-left
              +icon('whatsapp')
              span Чат WhatsApp
            a._direction-link(href='#') Проложить маршрут
      ._card.-right
        ._content
          ._map
            //- iframe(
            //-   src='https://yandex.ru/map-widget/v1/?um=constructor%3A5f30da4105b8acca6ade2d72e9fdd30c764cf2f6c56e24b5d260d7420624ca13&amp;source=constructor',
            //-   width='100%',
            //-   height='100%',
            //-   frameborder='0'
            //- )
          h5._title Салон в ТЦ «Гименей»
          ul._list
            li._item
              +icon('contacts-location')
              a._link(href='#') Большая Якиманка, д. 22, 1 этаж (м.Полянка)
            li._item
              +icon('contacts-phone')
              a._link(href='84958857059') 8 (495) 885-70-59
            li._item
              +icon('contacts-clock')
              a._link(href='#') Ежедневно с 10:00 до 22:00
          ._card-wrap
            button._btn.btn.btn--bg-accent.btn--iconed-left
              +icon('whatsapp')
              span Чат WhatsApp
            a._direction-link(href='#') Проложить маршрут
