section.b-main-screen
  .container
    .d-flex.align-items-center(style='border: 1px solid #fff; padding: 50px; background: #fff')
      .mr-20(style='margin-right: 20px')
        a.b-btn.-dark-text.-bg-accent.-iconed-right.-aic.-overlay-white-border.-xl(href='#')
          span Записаться
          ._icon-wrap
            +icon('arrow-styled-with-line')
      div
        a.b-btn.-accent-text.-bg-dark.-iconed-right.-aic.-lg(href='#')
          span Записаться
          ._icon-wrap
            +icon('expand-styled')
