section.b-main-contacts
  .container-fluid
    ._wrapper
      ._card.-left
        ._content
          ._map
          h5._title Салон в ТЦ «Неглинная Галерея»
          ul._list
            li._item
              +icon('contacts-location')
              a._link(href='#') Трубная Площадь, д. 2, 2 этаж (м.Трубная)
            li._item
              +icon('contacts-phone')
              a._link(href='84958857059') 8 (495) 885-70-59
            li._item
              +icon('contacts-clock')
              a._link(href='#') Ежедневно с 10:00 до 22:00
          ._card-wrap
            button._btn.btn.btn--bg-accent.btn--iconed-left
              +icon('whatsapp')
              span Чат WhatsApp
            a._direction-link(href='#') Проложить маршрут
      ._card.-right
        ._content
          ._map
          h5._title Салон в ТЦ «Гименей»
          ul._list
            li._item
              +icon('contacts-location')
              a._link(href='#') Большая Якиманка, д. 22, 1 этаж (м.Полянка)
            li._item
              +icon('contacts-phone')
              a._link(href='84958857059') 8 (495) 885-70-59
            li._item
              +icon('contacts-clock')
              a._link(href='#') Ежедневно с 10:00 до 22:00
          ._card-wrap
            button._btn.btn.btn--bg-accent.btn--iconed-left
              +icon('whatsapp')
              span Чат WhatsApp
            a._direction-link(href='#') Проложить маршрут
