section.b-main-screen
  .b-wheel
    ._card
      img._card-img(src='img/index/main/image-01.png', alt='')
    ._card
      img._card-img(src='img/index/main/image-02.png', alt='')
    ._card
      img._card-img(src='img/index/main/image-03.png', alt='')
    ._card
      img._card-img(src='img/index/main/image-04.png', alt='')
    ._card
      img._card-img(src='img/index/main/image-05.png', alt='')
