//- TODO: Нужно добавить ссылки
section.b-main-contacts(data-src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=', data-id='main-contacts')
  .container-fluid
    ._wrapper
      ._card.-left
        ._content
          ._map(data-cor='55.766491, 37.622333')
          ._title Салон в ТЦ «Неглинная Галерея»
          ul._list
            li._item
              +icon('contacts-location')
              ._link Трубная Площадь, д. 2, 2 этаж (м.Трубная)
            li._item
              +icon('contacts-phone')
              ._link(href='tel:+74958857059') 8 (495) 885-70-59
            li._item
              +icon('contacts-clock')
              ._link Ежедневно с 10:00 до 22:00
          ._card-wrap
            a._btn.btn.btn--bg-accent.btn--iconed-left(href='https://wa.me/+74958857059', target='_blank')
              +icon('whatsapp')
              span Чат WhatsApp
            a._direction-link(
              href='https://yandex.ru/maps/org/daviani_beauty_spa/1747972544/?ll=37.621399%2C55.766061&z=16',
              target='_blank'
            ) Проложить маршрут
      ._card.-right
        ._content
          ._map(data-cor='55.738307, 37.614563')
          ._title Салон в ТЦ «Гименей»
          ul._list
            li._item
              +icon('contacts-location')
              ._link Большая Якиманка, д. 22, 1 этаж (м.Полянка)
            li._item
              +icon('contacts-phone')
              ._link 8 (495) 885-70-59
            li._item
              +icon('contacts-clock')
              ._link Ежедневно с 10:00 до 22:00
          ._card-wrap
            button._btn.btn.btn--bg-accent.btn--iconed-left
              +icon('whatsapp')
              span Чат WhatsApp
            a._direction-link(
              href='https://yandex.ru/maps/org/daviani_beauty_spa/42188203970/?ll=37.614563%2C55.738308&z=16',
              target='_blank'
            ) Проложить маршрут
