section.b-main-screen
  .b-wheel
    ._card
      img._card-img(src='img/index/main/image-01.webp', alt='')
    ._card
      img._card-img(src='img/index/main/image-02.webp', alt='')
    ._card
      img._card-img(src='img/index/main/image-03.webp', alt='')
    ._card
      img._card-img(src='img/index/main/image-04.webp', alt='')
    ._card
      img._card-img(src='img/index/main/image-05.webp', alt='')
