section.b-main-screen
  .b-wheel
    ._card
      img._card-img.lazy(src='img/index/main/image-dummy.gif', data-src='img/index/main/image-01.png', width='318', height='450', alt='')
    ._card
      img._card-img.lazy(src='img/index/main/image-dummy.gif', data-src='img/index/main/image-02.png', width='318', height='450', alt='')
    ._card
      img._card-img.lazy(src='img/index/main/image-dummy.gif', data-src='img/index/main/image-03.png', width='318', height='450', alt='')
    ._card
      img._card-img.lazy(src='img/index/main/image-dummy.gif', data-src='img/index/main/image-04.png', width='318', height='450', alt='')
    ._card
      img._card-img.lazy(src='img/index/main/image-dummy.gif', data-src='img/index/main/image-05.png', width='318', height='450', alt='')
