section.b-services
  .container-fluid
    ._title Идеальная прическа от лучших стилистов Москвы
    ._tab-nav-wrap
      nav.b-tab-nav._tab-nav-wrap
        ul._list
          li._item
            a._link(href='#') Окрашивание
          li._item
            a._link(href='#') Укладки
          li._item
            a._link(href='#') Стрижки
    ._tab-content-wrap
      .b-tab-content(style='height: 824px')
        ._item
    .b-services-banner
      ._img-wrap
        img._img(src='img/index/services/services-banner.jpg', alt='')
      ._background-wrap
        ._background
          ._title Высокое качество услуг и безупречный сервис
          p._desc VIP-кабинеты. До 5 услуг оказываем одновременно, где вдали от суеты и глаз можно сделать несколько услуг одновременно, заказав себе обед из ресторана, насладиться им под любимый фильм
