section.b-works(data-id='works')
  .container-fluid
    h2._title.second-title.second-title--light Наши работы в социальных сетях
  .b-works-slider.swiper._slider
    ._wrapper.swiper-wrapper
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-1.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-2.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-3.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-4.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-5.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-6.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-7.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-8.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-9.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-10.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-11.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-12.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-13.png', alt='')
      ._item.swiper-slide
        img._img.lazy(src='img/index/works/dummy/dummy-image-person.gif', data-src='img/index/works/img-14.png', alt='')
    ._scroll-bar.swiper-scrollbar
