section.b-works
  .container-fluid
    h2._title.second-title.second-title--light Наши работы в Инстаграм
  .b-works-slider.swiper._slider
    ._wrapper.swiper-wrapper
      ._item.swiper-slide
        img._img(src='img/index/works/img-1.webp', alt='')
      ._item.swiper-slide
        img._img(src='img/index/works/img-2.webp', alt='')
      ._item.swiper-slide
        img._img(src='img/index/works/img-3.webp', alt='')
      ._item.swiper-slide
        img._img(src='img/index/works/img-4.webp', alt='')
      ._item.swiper-slide
        img._img(src='img/index/works/img-5.webp', alt='')
      ._item.swiper-slide
        img._img(src='img/index/works/img-6.webp', alt='')
    ._scroll-bar.swiper-scrollbar
